.form {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 6.4rem;
  padding: 0;
}

.md-w {
  width: 49%;
}
.flex-r-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
