<div class="form-ct">
  <button
    class="btn-cancel"
    mat-raised-button
    type="button"
    color="warn"
    (click)="onCancel()"
    #btnCancel
  >
    CANCEL
  </button>
  <form class="form" (ngSubmit)="onSaveBanner(f.value)" #f="ngForm">
    <!-- Id -->

    <mat-form-field appearance="outline" class="field full-w">
      <mat-label>Id</mat-label>
      <input
        matInput
        id="id"
        name="id"
        type="text"
        ngModel
        [readonly]="editMode"
      />
    </mat-form-field>
    <!-- Name -->
    <mat-form-field appearance="outline" class="field full-w">
      <mat-label>Name</mat-label>
      <input matInput id="name" name="name" type="text" ngModel required />
      <mat-error>Name cannot be empty</mat-error>
    </mat-form-field>
    <!-- Image -->

    <mat-form-field class="field full-w">
      <input
        matInput
        id="fileId"
        name="fileId"
        [required]="!uploadedFileId"
        [ngModel]="uploadedFileId"
        ngModel
        readonly
      />
      <mat-hint>Uploaded file id (Readonly)</mat-hint>
      <mat-error>Please upload image!</mat-error>
      <!--  -->
    </mat-form-field>
    <!-- <app-upload-component
      class="full-w"
      [uploadedImg]="path"
    ></app-upload-component> -->
    <div appEventBlocker class="full-w">
      <div class="wrap-r-between">
        <div class="wrap-r-center-ss">
          <button
            mat-mini-fab
            color="primary"
            (click)="fileUpload.click()"
            type="button"
            *ngIf="!uploadingImgUrl"
          >
            <mat-icon>attach_file</mat-icon>
          </button>
          <p>
            <span class="text-orange text-wrap"
              >{{
                (!fileName && "Choose Image") ||
                  (fileName &&
                    !uploadedFileId &&
                    "File is Ready To Upload: ") ||
                  (fileName && uploadedFileId && "Uploaded file: ")
              }}
            </span>
            <span>{{ fileName }}</span>
          </p>
        </div>
        <div class="preUpload-ct">
          <button
            mat-raised-button
            color="basic"
            (click)="onUpload()"
            type="button"
            [disabled]="uploadedFileId"
            *ngIf="uploadingImgUrl && !(isLoading$ | async)"
          >
            Upload Image
          </button>
          <img
            [src]="uploadingImgUrl"
            alt=""
            class="uploadingPreview height-auto"
          />
        </div>
      </div>
      <!-- Image - Dropbox -->

      <ng-container
        ><div
          appEventBlocker
          (dragend)="isDragover = false"
          (dragover)="isDragover = true"
          (dragenter)="isDragover = true"
          (dragleave)="isDragover = false"
          (mouseleave)="isDragover = false"
          (drop)="onFileDrop($event)"
          [ngClass]="{
            'border-indigo': isDragover
          }"
          class="drop-box full-w"
          (click)="fileUpload.click()"
          *ngIf="!uploadedFileId && !uploadedImg"
        >
          <h5 mat-headline-5>Drop your file here (Image only!)</h5>
          <mat-error *ngIf="invalidImage">Invalid File Format!</mat-error>

          <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </div>
        <!--  -->
        <img
          [src]="uploadedImg"
          height="200"
          alt=""
          class="full-w height-auto"
        />

        <input
          class="hidden"
          id="uploadingImg"
          name="uploadingImg"
          type="file"
          (change)="onFileSelect($event)"
          required
          #fileUpload
        />
      </ng-container>
    </div>
    <!-- Image end -->

    <!-- Channel -->
    <mat-form-field appearance="outline" class="field full-w">
      <mat-label>Select Channel</mat-label>
      <mat-select id="channelId" name="channelId" type="text" ngModel required>
        <mat-option *ngFor="let channel of channels" [value]="channel.key">
          {{ channel.name }}
        </mat-option>
      </mat-select>
      <mat-error>Channel is required</mat-error>
    </mat-form-field>
    <!-- Language and Zone-->
    <div class="full-w flex flex-r-between">
      <!-- Language -->
      <mat-form-field appearance="outline" class="field md-w">
        <mat-label>Language</mat-label>

        <mat-select id="language" name="language" type="text" ngModel required>
          <mat-option *ngFor="let language of languages" [value]="language.key">
            {{ language.name }}
          </mat-option>
        </mat-select>
        <mat-error>Please select language</mat-error>
      </mat-form-field>
      <!-- Zone -->
      <mat-form-field appearance="outline" class="field md-w">
        <mat-label>Zone</mat-label>

        <mat-select id="zoneId" name="zoneId" type="text" ngModel required>
          <mat-option *ngFor="let zone of zones" [value]="zone.key">
            {{ zone.name }}
          </mat-option>
        </mat-select>
        <mat-error>Please select zone</mat-error>
      </mat-form-field>
    </div>
    <!-- Date Range -->
    <mat-form-field class="field full-w" appearance="outline">
      <mat-label>Enter start and end date</mat-label>
      <mat-date-range-input [rangePicker]="picker" [min]="minDate">
        <input
          matStartDate
          placeholder="Start date"
          id="startDate"
          name="startDate"
          required
          [ngModel]="defaultStartDate"
        />

        <input
          matEndDate
          placeholder="End date"
          id="endDate"
          name="endDate"
          required
          [ngModel]="defaultEndDate"
        />
      </mat-date-range-input>

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
      <mat-error>{{ checkDates(f) }}</mat-error>
    </mat-form-field>
    <!-- URL -->
    <mat-form-field class="field full-w" appearance="outline">
      <mat-label>URL</mat-label>
      <input matInput id="url" name="url" type="text" ngModel required />
    </mat-form-field>
    <!-- Active and priority -->
    <table class="full-w" cellspacing="0">
      <tr>
        <td>
          <div class="full-w flex-r-start">
            <label>Active: </label>
            <mat-radio-group
              id="active"
              class="flex-c-start"
              name="active"
              type="radio"
              color="primary"
              ngModel
              required
              [ngModel]="true"
            >
              <mat-radio-button [value]="true" checked>True</mat-radio-button>
              <mat-radio-button [value]="false">False</mat-radio-button>
            </mat-radio-group>
          </div>
        </td>
        <td>
          <mat-form-field class="field full-w" appearance="outline">
            <mat-label>Priority</mat-label>
            <input
              matInput
              id="priority"
              name="priority"
              type="number"
              min="0"
              ngModel
              required
              pattern="^[0-9][0-9]*$"
            />
            <mat-error
              >{{
                (f.value.priority < 0 && "Value must be greater the 0") ||
                  (!f.value.priority && "Can't be empty")
              }}
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <!-- Labels -->

    <mat-form-field appearance="outline" class="field full-w">
      <mat-label>Labels</mat-label>

      <mat-select id="labels" name="labels" type="text" multiple [ngModel]="[]">
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="onClearLabels()"
          type="button"
        >
          <mat-icon class="clear-labels" color="warn">close</mat-icon>
        </button>
        <mat-option
          *ngFor="let label of labels"
          [value]="label.key"
          ([ngModel])="(label.key)"
        >
          {{ label.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="flex-r-between full-w">
      <button
        mat-raised-button
        type="submit"
        color="primary"
        [disabled]="f.invalid"
        *ngIf="!(isLoading$ | async)"
      >
        {{ editMode ? "UPDATE BANNER" : "CREATE BANNER" }}
      </button>
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </div>
  </form>
</div>
