.example-container {
  width: 100vw;
  height: 80vh;
}
.example-sidenav {
  width: 95vw;
  height: 80vh;
}
.example-spacer {
  flex: 1 1 auto;
}
.example-sidenav-content {
  padding: 3.2rem;
  width: 100rem;
}
@media (min-width: 48em) {
  .example-sidenav {
    width: 50vw;
  }
}

@media (min-width: 90em) {
  .example-sidenav {
    width: 40vw;
  }
}
