<div appEventBlocker>
  <div class="wrap-r-between">
    <div class="wrap-r-center-ss">
      <button
        mat-mini-fab
        color="primary"
        (click)="fileUpload.click()"
        type="button"
        *ngIf="!uploadingImgUrl"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
      <p>
        <span class="text-orange text-wrap"
          >{{
            (!fileName && "Choose Image") ||
              (fileName && !uploadedFileId && "File is Ready To Upload: ") ||
              (fileName && uploadedFileId && "Uploaded file: ")
          }}
        </span>
        <span>{{ fileName }}</span>
      </p>
    </div>
    <div class="preUpload-ct">
      <button
        mat-raised-button
        color="basic"
        (click)="onUpload()"
        type="button"
        [disabled]="uploadedFileId"
        *ngIf="uploadingImgUrl && !(isLoading$ | async)"
      >
        Upload Image
      </button>
      <img
        [src]="uploadingImgUrl"
        alt=""
        class="uploadingPreview height-auto"
      />
    </div>
  </div>
  <!-- Image - Dropbox -->
  <ng-container
    ><div
      appEventBlocker
      (dragend)="isDragover = false"
      (dragover)="isDragover = true"
      (dragenter)="isDragover = true"
      (dragleave)="isDragover = false"
      (mouseleave)="isDragover = false"
      (drop)="onFileDrop($event)"
      [ngClass]="{
        'border-indigo': isDragover
      }"
      class="drop-box"
      (click)="fileUpload.click()"
      *ngIf="!uploadedFileId && !uploadedImg"
    >
      <h5 mat-headline-5>Drop your file here (Image only!)</h5>
      <mat-error *ngIf="invalidImage">Invalid File Format!</mat-error>
      <!-- <span class="material-icons spin">autorenew</span> -->
      <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    </div>
    <!--  -->
    <img [src]="uploadedImg" height="200" alt="" class="full-w height-auto" />

    <input
      class="hidden"
      id="uploadingImg"
      name="uploadingImg"
      type="file"
      (change)="onFileSelect($event)"
      required
      #fileUpload
    />
  </ng-container>
</div>
